@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Noto Sans JP', 'Inter', system-ui, -apple-system, 'Segoe UI',
      Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', sans-serif;
  }
}

@layer utilities {
  .clip-hero {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  .clip-cta {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
}
